* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #ebf2ff;
}

p {
  font-family: "Poppins", sans-serif !important;
}

.trim-3-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.place__holder__image {
  /* height: 10rem; */
  width: 100%;
}
.task__card {
  cursor: pointer;
}

.task__card__title:hover {
  color: #4582ec;
}
